@import url(normalize.css);
body {
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

h1 {
  font-size: 5vw; }

h2 {
  font-size: 3vw; }

p {
  font-size: 1.2vw; }

a {
  color: #FFF; }
  a:visited {
    color: #FFF; }

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.splash {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #FFF;
  background: rgba(0, 0, 0, 0.95); }
  .splash h1 {
    position: relative;
    color: #ff0060; }
  .splash h2 {
    position: relative; }
  .splash p {
    position: relative; }

.thanks {
  display: none;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #FFF;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 20vh; }
  .thanks h2 {
    position: relative; }
  .thanks p {
    position: relative; }

canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor; }

#mainCanvas {
  flex: 0 1 auto; }
